{# templates/article/article_edit.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}
    <h1>Edit Article</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Save</button>
    {{ form_end(form) }}
    <a href="{{ path('main_page') }}">Back to list</a>
{% endblock %}
